@font-face {
    font-family: copperplate-gothic;
    src: url("../../../fonts/copperplate-gothic-light.ttf");
}
@font-face {
    font-family: century-schoolbook;
    src: url("../../../fonts/century-schoolbook.ttf");
}
@font-face {
    font-family: comic-sans;
    src: url("../../../fonts/ComicFuturaRegular.otf");
}

:root {
    --copper: copperplate-gothic;
    --century: century-schoolbook;
    --comic: comic-sans;

    --black: #040f0fff;
    --dark-grey: #2d3a3aff;
    --mid-grey: #637070ff;
    --light-grey: #bcccccff;
    --white: #ffffff;

    --dark-green: #124119ff;
    --base-green: #248232ff;
    --light-green1: #67a170ff;
    --light-green2: #92c199ff;
    --light-green3: #b7e0bdff;

    --grey-scale1: #0b1321ff;
    --grey-scale2: #343d4dff;
    --grey-scale3: #5f697aff;
    --grey-scale4: #8b95a6ff;
    --grey-scale5: #b7c1d3ff;
}

.details {

    width: 600px;
    height: 700px;
    background-color: rgba(11, 19, 33, 0.7);
    color: var(--white);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    border: 5px ridge var(--light-green1);
    margin: 8px;
    overflow: scroll;
}

.detail-content {
    margin:15px;
    margin-top: 0px;
    font-family: var(--copper);
    color: var(--light-green1);
}

.detail-content h1 {
    font-size: 32px;
}

.detail-content h2 {
    font-size: 26px;
}

.detail-content h3 {
    font-size: 22px;
    text-decoration: underline;
}

.detail-content p {
    font-family: var(--comic);
    color: var(--white);
    font-size: 18px;
}

.atr-label {
    font-family: var(--copper);
}

.atr-select {
    margin-right: 10px;
    font-family: var(--copper);
}

.atr {
    margin-right: 15px;
}

.racial-abilities {
    margin-left: 25px;
}