@font-face {
    font-family: copperplate-gothic;
    src: url("../fonts/copperplate-gothic-light.ttf");
}
@font-face {
    font-family: century-schoolbook;
    src: url("../fonts/century-schoolbook.ttf");
}
@font-face {
    font-family: comic-sans;
    src: url("../fonts/ComicFuturaRegular.otf");
}

:root {
    --copper: copperplate-gothic;
    --century: century-schoolbook;
    --comic: comic-sans;

    --black: #040f0fff;
    --dark-grey: #2d3a3aff;
    --mid-grey: #637070ff;
    --light-grey: #bcccccff;
    --white: #ffffff;

    --dark-green: #124119ff;
    --base-green: #248232ff;
    --light-green1: #67a170ff;
    --light-green2: #92c199ff;
    --light-green3: #b7e0bdff;

    --grey-scale1: #0b1321ff;
    --grey-scale2: #343d4dff;
    --grey-scale3: #5f697aff;
    --grey-scale4: #8b95a6ff;
    --grey-scale5: #b7c1d3ff;
}

footer {
    background-color: var(--grey-scale1);
    border-top-style: ridge;
    border-color: var(--grey-scale4);
    font-family: var(--century);
    height: 250px;
    width: 100%;
}

.bottom {
    display: flex;
    justify-content: flex-start;
    align-content: top;
    margin-top: 15px;
}

.foot-logo {
    height: 75px;
    margin: auto;
    margin-left: 2rem;
    margin-right:0;
    margin-top: 60px;
}

.foot-bctitle {
    font-size: 75px;
    color: var(--white);
    font-family: var(--copper);
    margin-left: 0;
    margin-top: 50px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
    margin-left: 10%;
    font-family: var(--century);
    color: var(--grey-scale3);
}

.links h1 {
    border-bottom-style: double;
    font-size: 30px;
    width: 80%;
}

.foot-link {
    text-decoration: none;
    color: var(--grey-scale5);
    font-size: 18px;
}

.copyright {
    margin-left: 15px;
    color: var(--grey-scale4);
}